pycache/
__pycache__/
*.py[cod]
*$py.class
*.so
*.swp
*.doj
*.suo
*.exe
*.dll
*.obj
*.o
*.a
*.lib
*.so
*.dylib
*.ncb
*.opendb
*.opt
*.pdb
*.res
*.to
*.zarg
*.ztmp
*.mcp
*.mc~
*.mmp
*.mpp~
*.mtp
*.mxt
*.pdb
*.pdb~
*.se~
*.s~
*.tl~
*.tl~
*.tmp
*.tmp~
*.tmp_obj~
*.tmp_proj~
*.wi~
*.~mmp
venv/
*.env
*.sqlite3
media/
static/
node_modules/
bower_components/
.sass-cache/
.env
venv/
